<div class="privacy-policy">
    <h1>Politique de Confidentialité</h1>
    <p>
        Bienvenue chez PassLock. Nous respectons votre vie privée et nous nous engageons à la protéger. Cette politique de confidentialité explique comment nous collectons, utilisons, partageons et protégeons vos informations personnelles lorsque vous utilisez notre site web.
    </p>
    <h2>Collecte d'informations</h2>
    <p>
        Nous collectons des informations lorsque vous vous inscrivez sur notre site, vous connectez à votre compte, effectuez un achat, participez à un concours et/ou lorsque vous vous déconnectez. Les informations collectées incluent votre nom, votre adresse e-mail, votre numéro de téléphone, etc.
    </p>
    <h2>Utilisation des informations</h2>
    <p>
        Toutes les informations que nous collectons auprès de vous peuvent être utilisées pour personnaliser votre expérience et répondre à vos besoins individuels, améliorer notre site Web, améliorer le service client et répondre à vos demandes de support et de contact, administrer un concours, une promotion, une enquête ou d'autres fonctionnalités du site.
    </p>
    <h2>Confidentialité du commerce en ligne</h2>
    <p>
        Nous sommes les seuls propriétaires des informations collectées sur ce site. Vos informations personnelles identifiables ne seront pas vendues, échangées, transférées ou données à une autre entreprise pour quelque raison que ce soit, sans votre consentement, en dehors de ce qui est nécessaire pour répondre à une demande et/ou une transaction, comme par exemple pour expédier une commande.
    </p>
    <h2>Divulgation à des tiers</h2>
    <p>
        Nous ne vendons, n'échangeons et ne transférons pas vos informations personnelles identifiables à des tiers. Cela ne comprend pas les tiers de confiance qui nous aident à exploiter notre site Web ou à mener nos affaires, tant que ces parties conviennent de garder ces informations confidentielles.
    </p>
    <h2>Protection des informations</h2>
    <p>
        Nous mettons en œuvre une variété de mesures de sécurité pour préserver la sécurité de vos informations personnelles. Nous utilisons un cryptage à la pointe de la technologie pour protéger les informations sensibles transmises en ligne. Nous protégeons également vos informations hors ligne. Seuls les employés qui ont besoin d'effectuer un travail spécifique (par exemple, la facturation ou le service à la clientèle) ont accès aux informations personnelles identifiables. Les ordinateurs et serveurs utilisés pour stocker des informations personnelles identifiables sont conservés dans un environnement sécurisé.
    </p>
    <h2>Consentement</h2>
    <p>
        En utilisant notre site, vous consentez à notre politique de confidentialité.
    </p>
</div>

