<div class="about-container about-page">
    <div class="about-column">
        <img src="../../assets/images/equipe.jpg" alt="Image descriptive" class="about-image">
    </div>
    <div class="about-column">
        <h1>À propos de PassLock</h1>
        <p>Chez PassLock, nous mettons la sécurité de vos données personnelles au cœur de nos préoccupations.</p>
        <p>Avec PassLock, plus besoin de choisir entre sécurité et simplicité.</p>
        <p>Notre équipe, animée par l'innovation, la créativité et l'audace, est composée de talents diversifiés, orientés vers la croissance. Chez PassLock, nous investissons dans la formation et le développement de chaque collaborateur, dès son arrivée et tout au long de son parcours d'épanouissement personnel. Notre culture alimente notre innovation et notre désir incessant de répondre aux besoins critiques non comblés du marché de la cybersécurité.</p>
    </div>
</div>


