<div class="reset-password-container">
    <div class="form-container">
      <div class="image-holder">
        <img src="../../assets/images/mdpCompte.jpg" alt="Login Image" />
      </div>
      <div class="card mt-3">
      <h2 class="text-center"><strong>Réinitialiser le mot de passe</strong></h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="card-body">
        <div class="mb-3 mt-3">
          <label for="password" class="form-label">Nouveau mot de passe:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            formControlName="password"
          />
          <label for="confirmPassword" class="form-label">Confirmer le nouveau mot de passe:</label>
          <input
            type="password"
            class="form-control"
            id="confirmPassword"
            name="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>
        </div>
        <div class="card-footer">
        <button
          type="submit"
          [disabled]="resetPasswordForm.invalid"
          class="btn btn-custom btn-lg btn-reset-link"
        >
          Réinitialiser le mot de passe
        </button>
    </div>
</form>
<!-- Ajout du message de succès -->
<div *ngIf="resetSuccess" class="alert alert-success mt-3">
  Votre mot de passe a été réinitialisé avec succès. Vous pouvez maintenant vous <a href="/login">connecter</a>.
</div>
<!-- Ajout du message d'erreur -->
<div *ngIf="errorMessage" class="alert alert-danger mt-3">
  {{ errorMessage }}
</div>
</div>
</div>
</div>

  
