<div class="home-container">
    <h1>Bienvenue sur PassLock</h1>
    <p>Chez PassLock, nous mettons la sécurité de vos données personnelles au cœur de nos préoccupations. À une époque où les cyberattaques sont de plus en plus fréquentes et sophistiquées, il est crucial de protéger vos informations sensibles. Nous vous proposons une solution complète pour gérer vos mots de passe et notes sécurisées.</p>
    
    <h2>Nos Services</h2>
    <ul>
      <li><strong>Gestion des mots de passe :</strong> Stockez, gérez et récupérez vos mots de passe de manière sécurisée.</li>
      <li><strong>Génération de mots de passe forts :</strong> Créez des mots de passe complexes et uniques en un clic.</li>
      <li><strong>Vérification de la sécurité des mots de passe :</strong> Testez la robustesse de vos mots de passe et vérifiez s'ils ont été compromis.</li>
      <li><strong>Notes sécurisées :</strong> Gardez vos informations confidentielles en toute sécurité avec notre fonctionnalité de notes sécurisées.</li>
    </ul>
    
    <p>Avec PassLock, plus besoin de choisir entre sécurité et simplicité. Notre application est conçue pour être facile à utiliser tout en offrant une protection maximale contre les menaces en ligne. Protégez vos données personnelles dès maintenant et naviguez sur internet en toute tranquillité.</p>
  </div>
  
