.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.left-right-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.left-right-container img {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
}

.text-container {
  flex: 1;
}

.home-container .title {
  color: #e0a96d;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 50px;
}

.home-container p, .home-container ul li {
  font-size: 1.5em;
  line-height: 1.6;
}

.home-container h2 {
  color: #2c3e50;
  font-size: 2em;
  margin-top: 40px;
}

.home-container p {
  color: #34495e;
}

.home-container ul {
  list-style-type: none;
  padding: 0;
}

.home-container ul li {
  color: #34495e;
  font-size: 1.3em;
  margin-bottom: 10px;
  text-align: left;
}
