.home-container {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* S'assurer que le conteneur couvre toute la hauteur de la fenêtre */
  width: 100%;
  background-image: url('/assets/images/security.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pour étirer le contenu entre la navbar et le footer */
  position: relative;
}

/* .home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-image: url('/assets/images/security.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
} */

 .home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6); /* Couleur blanche avec 60% d'opacité */
  z-index: -1;
} 



/* .text-container {
  flex: 1;
} */

.home-container .title {
  color: #FF6347;
  font-size: 2.5em;
  margin-bottom: 20px;
  margin-top: 50px;
  text-align: center; /* Ajout pour centrer le texte */
}

.home-container p, .home-container ul li {
  
  font-size: 2em;
  line-height: 1.6;
  
}

/* .home-container h2 {
  color: #FF6347;
  font-size: 2em;
  margin-top: 140px;
  margin-bottom: 30px;
  text-align: center; 
  ;
} */

.home-container p {
  margin: 30px;
  text-align: center; 
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 60px;
}

.home-container ul {
  color: #FFFFFF;
  list-style-type: none; /* Enlever les puces des listes */
  padding: 0; /* Enlever le padding par défaut des listes */
}

.home-container ul li {
  color: #FFFFFF;
  font-size: 1.3em;
  margin-bottom: 30px; /* Ajouter un espace en dessous de chaque élément de la liste */
  text-align: center;
}

.text2-container h1 {
  color: #FF6347;
  font-size: 2.5em;
  margin-top: 140px;
  margin-bottom: 30px;
  text-align: center; 
}

