<div class="card mt-3">
  <form [formGroup]="compteForm" (ngSubmit)="inscription()">
    <div class="card-header text-white bg-primary">Inscription Compte</div>
    <div class="card-body">
      <div class="mb-3 mt-3">
        <label for="nom" class="form-label">Nom *:</label>
        <input
          type="text"
          class="form-control"
          id="nom"
          name="nom"
          formControlName="nom"
        />
        <span
          class="text-danger"
          *ngIf="nomCtrl.dirty && nomCtrl.hasError('required')"
          >Nom est obligatoire</span
        >
      </div>
      <div class="mb-3 mt-3">
        <label for="description" class="form-label">Description *:</label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          formControlName="description"
        />
        <span
          class="text-danger"
          *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')"
          >Prénom est obligatoire</span
        >
      </div>
      <div class="mb-3 mt-3">
        <label for="dateAjout" class="form-label">Date ajout *:</label>
        <input
          type="text"
          class="form-control"
          id="dateAjout"
          name="dateAjout"
          formControlName="dateAjout"
        />
        <span
          class="text-danger"
          *ngIf="dateAjoutCtrl.dirty && dateAjoutCtrl.hasError('required')"
          >Date ajout est obligatoire</span
        >
      </div>
      <div class="mb-3 mt-3">
        <label for="dateMAJ" class="form-label">date de mise à jour *:</label>
        <input
          type="text"
          class="form-control"
          id="dateMAJ"
          name="dateMAJ"
          formControlName="dateMAJ"
        />
        <span
          class="text-danger"
          *ngIf="dateMAJCtrl.dirty && dateMAJCtrl.hasError('required')"
          >Date de mise à jour est obligatoire</span
        >
      </div>

      <div class="mb-3">
        <label for="nomUtilisateurPlateforme" class="form-label"
          >Nom user Plateforme *:</label
        >
        <input
          type="text"
          class="form-control"
          id="nomUtilisateurPlateforme"
          name="nomUtilisateurPlateforme"
          formControlName="nomUtilisateurPlateforme"
        />
        <span
          class="text-danger"
          *ngIf="
            nomUtilisateurPlateformeCtrl.dirty &&
            nomUtilisateurPlateformeCtrl.hasError('required')
          "
          >URL est obligatoire</span
        >
      </div>

      <div class="mb-3">
        <label for="urlPlateforme" class="form-label">url Plateforme *:</label>
        <input
          type="text"
          class="form-control"
          id="urlPlateforme"
          name="urlPlateforme"
          formControlName="urlPlateforme"
        />
        <span
          class="text-danger"
          *ngIf="
            urlPlateformeCtrl.dirty && urlPlateformeCtrl.hasError('required')
          "
          >URL est obligatoire</span
        >
        <span
          class="text-danger"
          *ngIf="
            urlPlateformeCtrl.dirty && urlPlateformeCtrl.hasError('minlength')
          "
          >Le mot de passe doit avoir au moins 9 caractères</span
        >
      </div>
      <div class="mb-3">
        <label for="valeurMotdePassePlateforme" class="form-label"
          >Valeur mot de passe plateforme *:</label
        >
        <input
          type="password"
          class="form-control"
          id="valeurMotdePassePlateforme"
          name="valeurMotdePassePlateforme"
          formControlName="valeurMotdePassePlateforme"
        />
        <span
          class="text-danger"
          *ngIf="
            valeurMotdePassePlateformeCtrl.dirty &&
            valeurMotdePassePlateformeCtrl.hasError('required')
          "
          >valeur mot de passe plateforme est obligatoire
        </span>
      </div>
    </div>
    <div class="card-footer">
      <button
        type="submit"
        [disabled]="compteForm.invalid"
        class="btn btn-success btn-lg"
      >
        <i class="bi bi-check-lg"></i>
      </button>
    </div>
  </form>
</div>
