<div class="compte">
<div class="form-container">
  <!-- <div class="row justify-content-center"> -->
    <!-- <div class="col-md-6"> -->
<div class="card mt-3">
  <h2 class="text-center">Merci de créer votre Compte en suivant les instructions</h2>
  <form [formGroup]="compteForm" (ngSubmit)="inscription()">
    <div class="card-body">
      <div class="mb-3 mt-3">
        <label for="nom" class="form-label">Nom * : </label>
        <input
          type="text"
          class="form-control"
          id="nom"
          name="nom"
          formControlName="nom"
        />
        <span
          class="text-danger"
          *ngIf="nomCtrl.dirty && nomCtrl.hasError('required')"
          >Nom est obligatoire</span
        >
      </div>
      <div class="mb-3 mt-3">
        <label for="description" class="form-label">Description * : </label>
        <input
          type="text"
          class="form-control"
          id="description"
          name="description"
          formControlName="description"
        />
        <span
          class="text-danger"
          *ngIf="descriptionCtrl.dirty && descriptionCtrl.hasError('required')"
          >Description est obligatoire</span
        >
      </div>
      <div class="mb-3 mt-3">
        <label for="dateAjout" class="form-label">Date ajout * : </label>
        <input
          type="date"
          class="form-control"
          id="dateAjout"
          name="dateAjout"
          formControlName="dateAjout"
        />
        <span
          class="text-danger"
          *ngIf="dateAjoutCtrl.dirty && dateAjoutCtrl.hasError('required')"
          >Date ajout est obligatoire</span
        >
      </div>
      <div class="mb-3 mt-3">
        <label for="dateMAJ" class="form-label">Date de mise à jour * : </label>
        <input
          type="date"
          class="form-control"
          id="dateMAJ"
          name="dateMAJ"
          formControlName="dateMAJ"
        />
        <span
          class="text-danger"
          *ngIf="dateMAJCtrl.dirty && dateMAJCtrl.hasError('required')"
          >Date de mise à jour est obligatoire</span
        >
      </div>

      <div class="mb-3">
        <label for="nomUtilisateurPlateforme" class="form-label"
          >Votre nom d'utilisateur sur Plateforme * : </label
        >
        <input
          type="text"
          class="form-control"
          id="nomUtilisateurPlateforme"
          name="nomUtilisateurPlateforme"
          formControlName="nomUtilisateurPlateforme"
        />
        <span
          class="text-danger"
          *ngIf="
            nomUtilisateurPlateformeCtrl.dirty &&
            nomUtilisateurPlateformeCtrl.hasError('required')
          "
          >Votre nom d'utilisateur sur Plateforme est obligatoire</span
        >
      </div>

      <div class="mb-3">
        <label for="urlPlateforme" class="form-label">Url du Plateforme * : </label>
        <input
          type="text"
          class="form-control"
          id="urlPlateforme"
          name="urlPlateforme"
          formControlName="urlPlateforme"
        />
        <span
          class="text-danger"
          *ngIf="
            urlPlateformeCtrl.dirty && urlPlateformeCtrl.hasError('required')
          "
          >Url du plateforme est obligatoire</span
        >
        <span
          class="text-danger"
          *ngIf="
            urlPlateformeCtrl.dirty && urlPlateformeCtrl.hasError('minlength')
          "
          >Le mot de passe doit avoir au moins 9 caractères</span
        >
      </div>
      <div class="mb-3">
        <label for="valeurMotdePassePlateforme" class="form-label"
          >Valeur mot de passe plateforme * : </label
        >
        <input
          type="password"
          class="form-control"
          id="valeurMotdePassePlateforme"
          name="valeurMotdePassePlateforme"
          formControlName="valeurMotdePassePlateforme"
        />
        <span
          class="text-danger"
          *ngIf="
            valeurMotdePassePlateformeCtrl.dirty &&
            valeurMotdePassePlateformeCtrl.hasError('required')
          "
          >Valeur mot de passe plateforme est obligatoire
        </span>
      </div>
    </div>
    <div class="card-footer">
      <button
        type="submit"
        [disabled]="compteForm.invalid"
        class="btn btn-custom btn-lg btn-compte"
      >
        Créer Compte
      </button>
    </div>
  </form>
</div>
<!-- </div> -->
<!-- </div> -->
</div>
</div>
