<div class="forgot-password-container">
  <div class="form-container">
    <div class="image-holder">
      <img src="../../assets/images/mdpCompte.jpg" alt="password Image" />
    </div>
    <div class="card mt-3">
    <h2 class="text-center"><strong>Mot de passe oublié</strong></h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendResetLink()">
      <div class="card-body">
      <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
        />
        <span
          class="text-danger"
          *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')"
          >L'email est obligatoire</span
        >
        <span
          class="text-danger"
          *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')"
          >Veuillez entrer un email valide</span
        >
      </div>
      </div>
      <div class="card-footer">
      <button
        type="submit"
        [disabled]="forgotPasswordForm.invalid"
        class="btn btn-custom btn-lg btn-reset-link"
      >
        Envoyer le lien de réinitialisation
      </button>
    </div>
    </form>
  </div>
</div>
</div>

  
